###OSX###

.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes


###Node###

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

###PhPStorm###

.idea/

# Floobits
.floo
.floobit
.floo
.flooignore

[p for p in permutations(range(n))
    if all([p[i] != p[j] - (i-j) and
            p[i] != p[j] - (j-i)
        for i in range(n)
        for j in range(i+1,n)
])]
